<%- include('./partials/head.ejs') %>

<div>
<h1>Voeg jouw plant toe aan de stekjesbieb</h1>
	
<form id="form-upload-plant" action="/plantenlijst" method="post">
	<% if(locals.error !== undefined){ %>
		<p class="message"><%= error %></p>
	<% } %>

	<fieldset>
		<legend>Vul dit formulier in en klik op toevoegen</legend>
		
		<!-- <label for="avatar">Upload een foto van je plant:</label>
		<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"> -->

		<label for="name">Naam:</label>
		<input required type="text" name="naam" id="name" placeholder="Plantnaam" value="<%= locals.values?.name ?? '' %>" />
		
		<label for="origin">Land van herkomst:</label>
		<input type="text" name="landvanherkomst" id="origin" placeholder="Zuid-Afrika" value="<%= locals.values?.name ?? '' %>" />

		<label for="fertilizer">Voeding:</label>
		<input type="text" name="voeding" id="fertilizer" placeholder="1x p/m pokon geven" value="" />

		<label for="toxicity">Giftig:</label>
		<input type="text" name="giftig" id="toxicity" placeholder="Niet giftig" value="" />

		<input type="submit" value="Toevoegen🪴" /> 

	</fieldset>
</form>

<button><a href="/plantenlijst">Terug naar plantenlijst</a></button>
</div>


<%- include('./partials/foot.ejs') %>