<%- include('./partials/head.ejs') %>


<section>
  <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
  <img src="<%= member.avatar != '' ? member.avatar :'/placeholder.jpg' %>" alt="De avatar van <%= member.name %>" />
  <p><%- member.bio.html %></p>
</section>

<%- include('./partials/foot.ejs') %>

"aanmelddatum":
"giftig": 
"landvanherkomst": 
"naam": 
"slug": 
"verpotten": 
"voeding": 

"aanmelddatum": "2023-02-07",
"createdAt": "2023-03-17T16:19:57.869176+00:00",
"giftig": "Niet giftig voor huisdieren.",
"id": "clfcqxa340rx30btd3y0xuvq7",
"landvanherkomst": "Brazilië",
"naam": "Calathea Fusion White",
"publishedAt": "2023-03-17T16:21:37.857574+00:00",
"slug": "calathea-fusion-white",
"updatedAt": "2023-03-17T16:19:57.869176+00:00",
"verpotten": "Eens in de twee of drie jaar of wanneer de wortels onder uit de pot groeien.",
"voeding": "1 keer in de 2 weken in de lente en zomer.",